/* ======================
   ESTILOS PARA SECCIONES
========================= */

section {
    padding: 4rem 1.5rem;
    max-width: none;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--titulo);
    padding: 0rem 0.5rem;
}

/* Textos dentro de sección */
section p {
    font-size: 1rem;
    color: var(--texto-principal);
    margin-bottom: 1rem;
    line-height: 1.7;
}


#nosotros {
    background-color: var(--verde-pastel);
    padding: 3rem 1rem;
    text-align: center;
}


#nosotros p {
    /* Aquí va el estilo que quieres aplicar */
        max-width: 1200px;
        /* Un ancho máximo para el párrafo */
        margin: 0 auto;
        /* Para centrar el párrafo dentro de la sección */
        font-family: var(--fuente-texto);
        color: var(--color-texto);
        line-height: 1.6;
        text-align: center;
        /* O la alineación que prefieras */
        padding: 1rem 0rem;
}

 
/* =====================
     ESTILOS DEL HORARIO - TIMELINE
======================== */
#horario {
    max-width: 1100px;
    margin: 0 auto;
    /* 0 para margen superior/inferior, auto para izquierda/derecha */
}

#horario h2 span{
    /* Mantenemos el padding que crea espacio alrededor del texto */
    padding: 0.1rem 0.75rem;

    /* MODIFICACIONES PARA EL EFECTO DE FONDO DESCENTRADOS */
    background-image: linear-gradient(to left, rgba(207, 169, 114, 0.4), rgba(207, 169, 114, 0.4));
    background-repeat: no-repeat;
    /* El truco: movemos la posición del fondo usando background-position */
    background-position: -41px 25px;
    /* Y le decimos que el origen del fondo es el borde del padding */
    background-origin: content-box;
}

/* Línea del tiempo (Horario) */
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Bloques comunes */
.timeline-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.timeline-item .icono {
    flex-shrink: 0;
}

.timeline-item .icono img {
    width: 450px;    /* Controlas el ancho */
    height: auto;    /* Altura automática según proporción */
    object-fit: contain;    /* No recorta, muestra todo */
    border-radius: 0;    /* Quita el redondeado si lo tenías */
}

/* Alternancia */
.timeline-item.izquierda {
    flex-direction: row;
}

.timeline-item.derecha {
    flex-direction: row-reverse;
    text-align: right;
}

/* Texto */
.timeline-item .contenido {
    max-width: none;
}

.timeline-item h4 {
    margin: 0 0 0.3rem;
    font-family: var(--fuente-titulos);
    color: var(--titulo);
}

.timeline-item p {
    margin: 0;
    font-size: 0.95rem;
    color: var(--texto-principal);
    line-height: 1.6;
}


#formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--verde-pastel);
    gap: 0;
    /* quitar el gap para controlar margen individual */
}

#formulario h2 {
    margin: 0 0 0.8rem 0;
    text-align: center;
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--titulo);
    padding: 0rem 0.5rem;
}

#formulario p {
    margin: 0 0 3rem 0;
    /* margen abajo solo entre párrafos */
    font-size: 1rem;
    color: var(--texto-principal);
    line-height: 1.6;
    text-align: center;
}

.contenedor-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;
    /* Ocupa toda la altura visible de la ventana */
}


.card {
    box-sizing: border-box;
    width: 170px;
    height: 60px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: var(--texto-principal);
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.07);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* ================================
   ESTILOS PARA SECCIONES / MOVIL
=================================== */

@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    .timeline-item .icono img {
        width: 450px;
        /* más pequeño para móviles */
    }

    .timeline-item.derecha .contenido {
        text-align: center;
    } 
    
    #nosotros {
        background-color: var(--verde-pastel);
        padding: 3rem 1rem;
        text-align: center;
    }
}


